a{
    color: white;
    text-decoration: none;
}
    .header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: black;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        width: 100%;
        min-width: 430px;
    }
    .header_sections{
        display: flex;
        align-items: center;
    }
    .header_item{
        padding: 10px 15px;
        font-size: 21px;
        margin-left: 5px;
    }
    .header_item:hover{
        background-color: #ff9900;
        border-radius: 4px;
    }
    .headerButton{
        cursor: pointer;
        
    }
.login{
    margin: -15px 0px 0px 105px;
    color:blanchedalmond;
    align-items: flex-start;
    flex-wrap: wrap;
    

}
.avatar{
    min-width: 80px;
    min-height: 80px;
    margin:10px 0px 0px 11px;
    align-items: flex-start;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid white;
    flex-wrap: wrap;
    background-color: white;
    
}

.logo{
    
    align-content: center;
    min-width: 80px;
    min-height: 80px;
    margin:-90px 0px 0px 450px;
    align-items: flex-start;
    height: 80px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid aliceblue;
    color:blanchedalmond;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

/* .iteam{

    padding: 0px 0px 0px 235px;


} */



/* .phone_header{
    justify-content: end;
    margin:0px 0px 0px 900px;
    flex-wrap: wrap;


} */



.body{
    
    background-color:beige;
    width: 100%;
    height: 1500px;
    max-width: 960px;
    min-width: 460px;
    min-height: 100px;
    margin: 0 auto 40px;
    flex-wrap: wrap;

}


.menu{
    display: flex;
    background-color: gray;
    width: 100%;
    max-width: 960px;
    min-width: 460px;
    min-height: 100px;
    margin: 0 auto 40px;
    flex-wrap: wrap;
    justify-content: space-around;

}

.Nike{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.Reebok{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.Onitsuka{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

.BOSS{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.Calvin_Klein{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.DIRK_BIKKEMBERGS{

    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* outline: 3px solid red; */
}
.block-first{
    /* background-color: green; */
    min-height: 700px;
    /* width: 200px;
    height: 200px; */
    /* font-size: 40px; */
    min-width: 350px;
    max-width: 700px;
    color: white;
    flex: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background-image: url(205613_50696.jpg); */
    border-image: auto;
    padding: 0px 0px 0px 0px;

}
.container-right{
    margin-left: 30px;
    display: flex;
    flex: 0 0 220px;
   
    flex-direction: column;
}
.block-item{
    margin: 130px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    /* background: black; */
    min-height: 50px;
    font-size: 20px;
    color: white;
    flex: auto;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 30px;   
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.block-item:last-child{  
    margin-bottom: 0px;
}

.top{
    /* background-color: black; */
    width: 100%;
    max-width: 960px;
    min-width: 460px;
    min-height: 100px;
    margin: 0 auto 40px;
}
.grid{
    width: 100%;
    max-width: 960px;
    min-width: 460px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
.grid_item{
    display: flex;
    /* background-color: black; */
    min-height: 200px;
    font-size: 40px;
    color: white;
    margin: 0px 10px 20px;
    justify-content: center;
    align-items: center;
    flex: 1 1 calc(33.33% - 20px);
}